* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    color: #41364b;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dddcdc;
}

.card {
    height: 22rem;
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.8rem;
    flex-direction: column;
}

.card, .perfil, .fab, .contato {
    box-shadow: -0.1rem -0.1rem 0.3rem #f8f7f7, 0.1rem 0.1rem 0.3rem;
}

.perfil {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo {
    font-weight: 700;
    margin-bottom: 20px;
    margin: 1rem 0;
}

.redes-sociais-icones {
    margin: 1rem;
}

.fab {
   height: 2rem;
   width: 2rem;
   /* descobrir o porque do width nao aumentar de tamanho */
}