:root {
    --cor-fundo: #dddcdc;
    --cor-texto: #41364b;
    --boxshadow1: #f8f7f7;
    --boxshadow2: #2b2a2a;
}

.dark-mode{
    --cor-fundo: #1e1a22;
    --cor-texto: #e8e4ec;
    --boxshadow1: #2e2836;
    --boxshadow2: #0e0c12;
}

* {
    margin: 0;
    padding: 0;
    color: var(--cor-texto);
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-fundo);
}

.card {
    height: 22rem;
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0.8rem;
}

.card, .perfil, .contato, .fab{
    box-shadow: -0.1rem -0.1rem 0.3rem var(--boxshadow1), 0.1rem 0.1rem 0.3rem var(--boxshadow2);
}

.perfil {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titulo {
    font-weight: 700;
    margin: 1rem 0;
}

.redes-sociais-icones {
    margin: 1rem;

}

.fab {
    height: 2rem;
    width: 2rem !important;
    padding: 0.5rem;
    border-radius: 50%;
    text-align: center;
}

.perfil {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    height: 7rem;
    width: 7rem;
    background-image: url(image.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.contato {
    background: none;
    margin-top: 0.5rem;
    border: none;
    padding: 0.7rem;
    border-radius: 0.5rem;
}

.fab:hover, .contato:hover{
    box-shadow: inset -0.1rem -0.1rem 0.3rem #ffff, inset 0.1rem 0.1rem 0.3rem #868686;
    cursor: pointer;
}