* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    color: #41364b;
    box-sizing: border-box;
}



body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dddcdc;
}

.card {
    height: 22rem;
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0.8rem;
}

.card, .perfil, .contato, .fab{
    box-shadow: -0.1rem -0.1rem 0.3rem #f8f7f7, 0.1rem 0.1rem 0.3rem;
}

.perfil {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titulo {
    font-weight: 700;
    margin: 1rem 0;
}

.redes-sociais-icones {
    margin: 1rem;

}

.fab {
    height: 2rem;
    width: 2rem !important;
    padding: 0.5rem;
    border-radius: 50%;
    text-align: center;
}

.perfil {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    height: 7rem;
    width: 7rem;
    background-image: url(image.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.contato {
    background: none;
    margin-top: 0.5rem;
    border: none;
    padding: 0.7rem;
    border-radius: 0.5rem;
}